---
import BaseLayout from '../layouts/BaseLayout.astro'
const title='Contact Page'
---
<style scoped>

h1 {
    color: blue
}
h1 span {
    color: red
}
</style>

<BaseLayout title={title}>
<h1>{title}</h1>
<p>Hello from the contact page!</p>
</BaseLayout>
