---
import BaseLayout from '../layouts/BaseLayout.astro'
const title='Testing Title'
---
<style scoped>

h1 {
    color: blue

    
}
h1 span {
        color: red
    }
</style>

<BaseLayout title={title}>
<h1>Hi from <span>Astro</span></h1>
<a href="/contact">Contact us!</a>
<div>
<img src='/images/51.jpg' width='300px'/>
<img src={Astro.resolve('../images/51.jpg')} width="300px"/>
</div>

</BaseLayout>
